# Now, when we execute a new npm install, the dependency version is going to be exact, in our case, so we will be able to
# see that no dependency will have ^ ~ or something in its version

#We did this because in the future, when the app is set to production, one of the things that are primordial to be done,
#is to always keep the newest version of our project, and it is normal that as the time passes, that we want to update our
#versions, so when we have the exact version of the dependency, we can utilize some githubs bots, such as the renovate, which
#keeps on trying to update the dependencies and execute our tests with this new version, if no tests were broken it will
# create for us a pull request and tell us that it is safe to update our project dependencies

save-exact=true